#glcanvas {
  image-rendering: pixelated;
  z-index: 0;
  touch-action: none;
}
* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior-x: none;
}

#input {
  position: absolute;
  width: 30%;
  height: 5%;
  top: 5%;
  left: 30%;
  z-index: 1;
  background-color: transparent;
  display: -webkit-flex;
  font-size: 100%;
  outline: 1px solid white;
}
#input:focus {
  height: 40%;
}
#checkListTitle {
  position: absolute;
  width: 30%;
  height: 5%;
  top: 5%;
  left: 30%;
  z-index: 1;
  background-color: transparent;
  display: -webkit-flex;
  font-size: 100%;
  outline: 1px solid white;
}
#checkListAdd {
  position: absolute;
  width: 3%;
  height: 5.3%;
  top: 5%;
  left: 60.2%;
  z-index: 1;
  background-color: transparent;
  font-size: 100%;
}
#checkListAdd:hover {
  cursor: pointer;
  background-color: #0a908d;
}
#checkListAdd:active {
  box-shadow: 2px 2px 5px #0a908d;
}

#newCheckBoxButton {
  position: absolute;
  width: 3%;
  height: 5.3%;
  top: 5%;
  left: 57.2%;
  z-index: 1;
  background-color: transparent;
  font-size: 100%;
  border: none;
}
#newCheckBoxButton:hover {
  cursor: pointer;
  background-color: #0a908d;
}
#newCheckBoxButton:active {
  box-shadow: 2px 2px 5px #0a908d;
}
#newDrawingButton {
  position: absolute;
  width: 3%;
  height: 5.3%;
  top: 5%;
  left: 54.17%;
  z-index: 1;
  background-color: transparent;
  font-size: 100%;
  border: none;
}
#newDrawingButton:hover {
  cursor: pointer;
  background-color: #0a908d;
}
#newDrawingButton:active {
  box-shadow: 2px 2px 5px #0a908d;
}

#clearStorage {
  z-index: 2;
  background-color: transparent;
  position: absolute;
  width: 5%;
  height: 4%;
  top: 92.35%;
  left: 5%;
  z-index: 1;
  background-color: transparent;
  font-size: 75%;
}
#clearStorage:hover {
  cursor: pointer;
  background-color: #0a908d;
}
#clearStorage:active {
  box-shadow: 2px 2px 5px #0a908d;
}

.standardSave {
  z-index: 2;
  background-color: transparent;
  position: absolute;
  width: 5%;
  height: 4%;
  top: 92.35%;
  left: 87.2%;
  font-size: 75%;
}
.standardSave:hover {
  cursor: pointer;
  background-color: #0a908d;
}
.standardSave:active {
  box-shadow: 2px 2px 5px #0a908d;
}

/* start CSS code for the custom color slider */
#color-container {
  z-index: 10;
  position: absolute;
  width: 20%;
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  right: 0;
}

#color-preview {
  position: relative;
}

#rgb-label {
  z-index: 10;
  position: relative;
}

.hue-slider {
  -webkit-appearance: none;
  z-index: 10;
  position: relative;
  display: inline-block;
  width: 70%;
  background: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    lime,
    green,
    Turquoise,
    Cyan,
    Blue,
    Violet,
    Magenta,
    Crimson,
    red
  );
}

.hue-slider::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  z-index: 10;
  width: 100%;
  height: inherit;
}

.hue-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  z-index: 10;
  border: none;
  height: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
}
/* end CSS code for the custom color slider */

/*for main page UI*/
.drawing_UI {
  position: absolute;
  width: 10%;
  height: 5%;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  color: rgb(82, 82, 82);
  font-size: 100%;
  font-weight: bold;
  font-family: Arial;
  opacity: 0.8;
  border: #575757 3px solid;
  border-radius: 15px;
  user-select: none;
}

.drawing_UI:hover {
  background-color: rgb(202, 202, 202);
}

.drawing_UI:active {
  background-color: rgb(179, 179, 179);
}

#myRange {
  top: 5%;
  left: 1%;
}
