#glcanvas {
  image-rendering: pixelated;
  z-index: 0;
  touch-action: none;
}
* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior-x: none;
}

#input {
  position: absolute;
  width: 30%;
  height: 5%;
  top: 5%;
  left: 30%;
  z-index: 1;
  background-color: transparent;
  display: -webkit-flex;
  font-size: 100%;
  outline: 1px solid white;
}
#input:focus {
  height: 40%;
}
#checkListTitle {
  position: absolute;
  width: 30%;
  height: 5%;
  top: 5%;
  left: 30%;
  z-index: 1;
  background-color: transparent;
  display: -webkit-flex;
  font-size: 100%;
  outline: 1px solid white;
}
#checkListAdd {
  position: absolute;
  width: 3%;
  height: 5.3%;
  top: 5%;
  left: 60.2%;
  z-index: 1;
  background-color: transparent;
  font-size: 100%;
}
#checkListAdd:hover {
  cursor: pointer;
  background-color: #0a908d;
}
#checkListAdd:active {
  box-shadow: 2px 2px 5px #0a908d;
}

#newCheckBoxButton {
  position: absolute;
  width: 3%;
  height: 5.3%;
  top: 5%;
  left: 57.2%;
  z-index: 1;
  background-color: transparent;
  font-size: 100%;
  border: none;
}
#newCheckBoxButton:hover {
  cursor: pointer;
  background-color: #0a908d;
}
#newCheckBoxButton:active {
  box-shadow: 2px 2px 5px #0a908d;
}
#newDrawingButton {
  position: absolute;
  width: 3%;
  height: 5.3%;
  top: 5%;
  left: 54.17%;
  z-index: 1;
  background-color: transparent;
  font-size: 100%;
  border: none;
}
#newDrawingButton:hover {
  cursor: pointer;
  background-color: #0a908d;
}
#newDrawingButton:active {
  box-shadow: 2px 2px 5px #0a908d;
}

#clearStorage {
  z-index: 2;
  background-color: transparent;
  position: absolute;
  width: 5%;
  height: 4%;
  top: 92.35%;
  left: 5%;
  z-index: 1;
  background-color: transparent;
  font-size: 75%;
}
#clearStorage:hover {
  cursor: pointer;
  background-color: #0a908d;
}
#clearStorage:active {
  box-shadow: 2px 2px 5px #0a908d;
}

.drawing_UI {
  position: absolute;
  width: 10%;
  height: 5%;
  z-index: 5;
  background-color: rgb(255, 255, 255);
  color: rgb(82, 82, 82);
  font-size: 100%;
  font-weight: bold;
  font-family: Arial;
  opacity: 0.8;
  border: #575757 3px solid;
  border-radius: 15px;
  user-select: none;
}

.drawing_UI:hover {
  background-color: rgb(202, 202, 202);
}

.drawing_UI:active {
  background-color: rgb(179, 179, 179);
}

.standardSave {
  z-index: 2;
  background-color: transparent;
  position: absolute;
  width: 5%;
  height: 4%;
  top: 92.35%;
  left: 87.2%;
  font-size: 75%;
}
.standardSave:hover {
  cursor: pointer;
  background-color: #0a908d;
}
.standardSave:active {
  box-shadow: 2px 2px 5px #0a908d;
}

/* for the whiteboard page */
.whiteboard {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;

  width: 10%;
  height: 5%;
  z-index: 0;
  background-color: rgb(255, 255, 255);
  color: rgb(82, 82, 82);
  font-size: 100%;
  font-weight: bold;
  font-family: Arial;
  opacity: 0.8;
  border: #575757 3px solid;
  border-radius: 15px;
  user-select: none;
}

.buttons {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1; /* make the button on top of the whiteboard */
}

.btn {
  font-size: 14px;
  padding: 5px 10px;
  text-decoration: none;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 5px solid #555555;
}

/* viewSavedNotesLink CSS */
#viewSavedNotesButton {
  position: absolute;
  width: 10%;
  height: 6%;
  top: 92.35%;
  left: 87%;
  z-index: 1;
  background-color: transparent;
  font-size: 100%;
  /* Text underline: None */
  text-decoration: none;
}
#viewSavedNotesButton:hover {
  cursor: pointer;
  background-color: #0a908d;
}
#viewSavedNotesButton:active {
  box-shadow: 2px 2px 5px #0a908d;
}
/* How the <a> tag text acts between clicks */
a {
  color: inherit;
} /* Unvisited link  */
a:visited {
  color: inherit;
} /* Visited link    */
a:hover {
  color: inherit;
} /* Mouse over link */
a:active {
  color: #0000ff;
} /* Selected link   */

/* Set background color of the page */
body {
  background-color: #a3f5f4;
}

#retrievedNotes {
  position: absolute;
  top: 5%;
  left: 30%;
  z-index: 1;
  background-color: transparent;
  display: -webkit-flex;
  font-size: 100%;
  outline: 1px solid white;
}

/* clearNotesButton CSS */
#clearNotesButton {
  position: absolute;
  width: 10%;
  height: 6%;
  top: 90%;
  left: 10%;
  z-index: 1;
  background-color: transparent;
  font-size: 100%;
  text-align: left;
  border: none;
}
#clearNotesButton:hover {
  cursor: pointer;
  background-color: #0a908d;
}
#clearNotesButton:active {
  box-shadow: 2px 2px 5px #0a908d;
}